.process_style {
  .process_now {
    background-color: $other;
    color: $light;
    border: 1.5px solid $other;
  }
  .process_undone {
    border: 1.5px solid $other;
    color: $other;
  }
}

.cart_table {

  th,
  td {
    border-top: 1px solid $other;
  }
  thead th {
    border-bottom: 0;
  }
  thead tr {
    background-color: $other;
    color: $light;
  }

  .imgSize {
    background-size: cover;
    background-position: center center;
    width: 100px;
    height: 100px;
  }
}

.code_feedback {
  font-size: 12px;
}