.footer {
  position: absolute;
  bottom: 100;
  width: 100%;
}
.copyright {
  background-color: $major;
  color: $light;
}
.copyright small {
  padding-left: 30px;
  font-size: 12px;
  color: $other;
}
