.footer {
  border-top: 1px solid $other;
  .footer__wrap {
    line-height: 1.5rem;
    text-align: center;
    h5 {
      margin-bottom: 1rem;
      font-weight: bold;
    }
  }
  .copyright {
    padding: 1rem 0;
    text-align: center;
    background-color: $major;
    color: $light;
    small {
      padding-left: 30px;
      font-size: 12px;
      color: $other;
    }
  }
}