.home {
  .carousel-img {
    background-position: center 70%;
    background-size: cover;
    height: 450px;
    position: relative;

    .content {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      
      .content_text {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 2px;
        text-shadow: #3f3f3f 2px 2px 2px;
      }
    }
  }

  .activity {
    .activity__title {
      display: inline-block;
      border-bottom: 3px solid $other;
    }
    .activity__wrap {
      background-position: center;
      background-size: cover;
      min-height: 350px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .news {
        color: $light;
        background-color: rgba($other, 0.9);
        width: 70%;
        padding: 10px;
        border-radius: 3px;
        p {
          margin-bottom: 0;
        }
        &:hover {
          animation: bounce;
          animation-duration: 1s;
        }
      }
    }
    .activity__wrap__bgLeft {
      background-image: url("https://upload.cc/i1/2021/02/08/1GEHzB.jpg");
    }
    .activity__wrap__bgRight {
      background-image: url("https://upload.cc/i1/2021/02/08/7Z2Dbw.jpg");
    }
  }

  .features {
    .features__title {
      margin-left: 45px;
      border-bottom: 3px solid $other;
      display: inline-block;
    }
    .features__img {
      min-height: 300px;
      display: flex;
    }
    .features__card {
      margin-top: 10px;

      h4 {
        color: $other;
      }
    }
    .features__card:hover {
      animation: tada;
      animation-duration: 1s;
    }
  }

  .showGoods {
    h3 {
      margin-left: 50px;
      display: inline-block;
      border-bottom: 3px solid $other;
    }
    .swiper_shell {
      position: relative;
      width: calc(100% - 100px);
  
      .swiper-button {
        position: absolute;
        top: 50%;
        z-index: 10;
        margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $other;
      }
      .swiper-button-left {
        left: -50px;
      }
      .swiper-button-right {
        right: -50px;
      }
      .swiper-button-disabled{
        opacity:0.2;
      }
  
      .card-cover {
        overflow: hidden;
        
        .card-img {
          transform: scale(1, 1);
          transition: all 0.3s ease-out;
          position: relative;
          height: 150px;
          background-size: cover;
          background-position: center;
          &:hover {
            transform: scale(1.2, 1.2);
          }
        }
      }
      .card-body {
        .badge {
          font-weight: 400;
          opacity: 0.5;
        }
      }
      .card-footer {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-top: 0px;
      }
    }
  }

  .shop {
    iframe {
      width: 100%;
      min-height: 300px;
      display: flex;
    }
    h3 {
      display: inline-block;
      border-bottom: 3px solid $other;
    }
    .shop__data {
      li {
        line-height: 2rem;
      }
    }
  }

  @media (max-width: 1200px) {
    .features {
      .features__title {
        margin-left: 0px;
      }
    }
  }
  @media (max-width: 768px) {
    .activity {
      .activity__wrap {
        margin-bottom: 2rem;
      }
    }
    .shop {
      .shop__data {
        margin-top: 3rem;
        h4 {
          text-align: center;
        }
      }
    }
  }
}