.ProductList {
  .ProductList__wall {
    background-image: url("https://upload.cc/i1/2021/01/08/ZtW9CQ.jpg");
    background-position: center 80%;
    background-size: cover;
    height: 300px;
    width: 100%;
    position: relative;

    .ProductList__wall__title {
      width: 300px;
      height: 90px;
      background-color: rgba($major, 0.8);
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: scaleX(0);
      animation: ProductList__wall__title 2s 0.5s forwards;
      border-radius: 3px;

      h2 {
        width: 100%;
        position: absolute;
        line-height: 90px;
        text-align: center;
        font-size: 30px;
        color: $base;
        letter-spacing: 2px;
      }
    }

    @keyframes ProductList__wall__title {
      0% {
        transform: scaleX(0);
      }
      100% {
        transform: scaleX(1);
      }
    }
  }

  .list-group {
    .list-group-item.active {
      color: $light;
      background-color: $other;
      border-color: $other;
    }
  }

  .card-cover {
    overflow: hidden;
  }
  .card-img {
    transform: scale(1, 1);
    transition: all 0.3s ease-out;
    position: relative;
    height: 150px;
    background-size: cover;
    background-position: center;
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
  .card-footer {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-top: 0px;
  }
  .badge {
    font-weight: 400;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    .ProductList__wall {
      height: 300px;

      .ProductList__wall__title {
        width: 200px;
        height: 90px;

        h2 {
          line-height: 90px;
          font-size: 26px;
        }
      }
    }
    .list-group {
      margin-bottom: 2rem;
    }
  }

  @media (max-width: 576px) {
    .ProductList__wall {
      height: 150px;

      .ProductList__wall__title {
        width: 180px;
        height: 60px;
        h2 {
          line-height: 60px;
          font-size: 22px;
        }
      }
    }
  }
}